<p class='display-4'>New Admission</p>
<hr>
<mat-card>
  <p class="h3">Student Information</p>
  <mat-divider></mat-divider>
  <br>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <form [formGroup]='r1c1'>
            <mat-form-field>
             <input matInput placeholder="Admission Number" formControlName="admission_no" required >
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="First Name" formControlName="fName" required>
           </mat-form-field>
           <br>
           <mat-form-field>
             <mat-label>Category</mat-label>
             <select matNativeControl [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}" name="category">

               <option *ngFor="let category of categories" [value]="category">
                 {{category}}
               </option>
             </select>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Admission Date" formControlName="as_on" required>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Height" formControlName="height" required>
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r1c2'>
            <mat-form-field>
             <input matInput placeholder="Roll Number" formControlName="roll_no" required >
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Last Name" formControlName="lName" required>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Religion" formControlName="religion" required>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Photo" formControlName="photo" required>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Weight" formControlName="weight" required>
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r1c3'>
            <mat-form-field>
              <mat-label>Class</mat-label>
              <select matNativeControl [(ngModel)]="selectedClass" [ngModelOptions]="{standalone: true}" name="class">

                <option *ngFor="let class of classes" [value]="class">
                  {{class}}
                </option>
              </select>
           </mat-form-field>
           <br>
           <mat-form-field>
             <mat-label>Gender</mat-label>
             <select matNativeControl [(ngModel)]="selectedGender" [ngModelOptions]="{standalone: true}" name="gender">

               <option *ngFor="let gender of genders" [value]="gender">
                 {{gender}}
               </option>
             </select>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Mobile No" formControlName="phone">
           </mat-form-field>
           <br>
           <mat-form-field>
             <mat-label>Blood Group</mat-label>
             <select matNativeControl [(ngModel)]="selectedBloodGroup" [ngModelOptions]="{standalone: true}" name="bloodGroup">

               <option *ngFor="let group of bloodGroups" [value]="group">
                 {{group}}
               </option>
             </select>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="As on Date" formControlName="as_on">
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r1c4'>
            <mat-form-field>
              <mat-label>Section</mat-label>
              <select matNativeControl [(ngModel)]="selectedSection" [ngModelOptions]="{standalone: true}" name="section">

                <option *ngFor="let section of sections" [value]="section">
                  {{section}}
                </option>
              </select>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Date Of Birth" formControlName="dob" required>
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Email" formControlName="email" required>
           </mat-form-field>
           <br>
           <mat-form-field>
             <mat-label>Student House</mat-label>
             <select matNativeControl [(ngModel)]="selectedHouse" [ngModelOptions]="{standalone: true}" name="house">

               <option *ngFor="let house of houses" [value]="house">
                 {{house}}
               </option>
             </select>
           </mat-form-field>
           <br>
           <mat-form-field>
             <mat-label>Student Type</mat-label>
             <select matNativeControl [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}" name="type" (change)='change()'>

               <option *ngFor="let type of types" [value]="type">
                 {{type}}
               </option>
             </select>
           </mat-form-field>
          </form>
        </div>
      </div>
    </mat-card-content>
</mat-card>

<br>

<mat-card>
  <p class="h3">Parent/Guardian Information</p>
  <mat-divider></mat-divider>
  <br>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <form [formGroup]='r2c1'>
            <mat-form-field>
             <input matInput placeholder="Father Name" formControlName="father_name">
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Mother Name" formControlName="mother_name">
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r2c2'>
            <mat-form-field>
             <input matInput placeholder="Father Phone" formControlName="father_phone">
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Mother Phone" formControlName="mother_phone">
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r2c3'>
            <mat-form-field>
             <input matInput placeholder="Father Occupation" formControlName="father_occ">
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Mother Occupation" formControlName="mother_occ">
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r2c4'>
            <mat-form-field>
             <input matInput placeholder="Father Photo" formControlName="father_photo">
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Mother Photo" formControlName="mother_photo">
           </mat-form-field>
          </form>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          <!-- <mat-form-field>
            <mat-label>If Guardian Is</mat-label>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Father</mat-radio-button>
              <mat-radio-button value="2">Mother</mat-radio-button>
              <mat-radio-button value="2">Other</mat-radio-button>
            </mat-radio-group>
          </mat-form-field> -->
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col">
          <form [formGroup]='r3c1'>
            <mat-form-field>
             <input matInput placeholder="Guardian Name" formControlName="guardian_name">
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Guardian Phone" formControlName="guardian_phone">
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r3c2'>
            <mat-form-field>
             <input matInput placeholder="Guardian Relation" formControlName="guardian_relation">
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Guardian Occupation" formControlName="guardian_occ">
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r3c3'>
            <mat-form-field>
             <input matInput placeholder="Guardian Email" formControlName="guardian_email">
           </mat-form-field>
           <br>
           <mat-form-field>
             <input matInput placeholder="Guardian Address" formControlName="guardian_address">
           </mat-form-field>
          </form>
        </div>

        <div class="col">
          <form [formGroup]='r3c4'>
            <mat-form-field>
             <input matInput placeholder="Guardian Photo" formControlName="guardian_photo">
           </mat-form-field>
          </form>
        </div>
      </div>
    </mat-card-content>
</mat-card>

<ng-container *ngIf="selectedType==='Hosteller'">
<br>

<mat-card>
  <p class="h3">Hostel Information</p>
  <mat-divider></mat-divider>
  <br>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Hostel</mat-label>
            <select matNativeControl [(ngModel)]="selectedHostel" [ngModelOptions]="{standalone: true}" name="hostel">

              <option *ngFor="let hostel of hostels" [value]="hostel">
                {{hostel}}
              </option>
            </select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label>Room</mat-label>
            <select matNativeControl [(ngModel)]="selectedRoom" [ngModelOptions]="{standalone: true}" name="rooms">

              <option *ngFor="let room of rooms" [value]="room">
                {{room}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
      </mat-card-content>

</mat-card>
</ng-container>
<br>

<mat-card>
  <p class="h3">Upload Identity Proof</p>
  <mat-divider></mat-divider>
  <br>
    <mat-card-content>
      <p class="h5">Parent</p>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Id Proof</mat-label>
            <select matNativeControl [(ngModel)]="selectedParentIdProof" [ngModelOptions]="{standalone: true}" name="verifications">

              <option *ngFor="let verification of verifications" [value]="verification">
                {{verification}}
              </option>
            </select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Address Proof</mat-label>
            <select matNativeControl [(ngModel)]="selectedParentAddressProof" [ngModelOptions]="{standalone: true}" name="verifications">

              <option *ngFor="let verification of verifications" [value]="verification">
                {{verification}}
              </option>
            </select>
          </mat-form-field>
        </div>

        <div class="col">
          <form [formGroup]='parent'>
            <br>
             <input placeholder="Upload" formControlName="pdoc1" type='file' required name="pdoc1" (change)="onFileChanged($event)" >
           <br>
           <br>
           <input placeholder="Upload" formControlName="pdoc2" type='file' required name="pdoc2" (change)="onFileChanged($event)" >
          </form>
        </div>
      </div>
      <br>
      <p class="h5">Guardian</p>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Id Proof</mat-label>
            <select matNativeControl [(ngModel)]="selectedGuardianIdProof" [ngModelOptions]="{standalone: true}" name="verifications">

              <option *ngFor="let verification of verifications" [value]="verification">
                {{verification}}
              </option>
            </select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Address Proof</mat-label>
            <select matNativeControl [(ngModel)]="selectedGuardianAddressProof" [ngModelOptions]="{standalone: true}" name="verifications">

              <option *ngFor="let verification of verifications" [value]="verification">
                {{verification}}
              </option>
            </select>
          </mat-form-field>
        </div>

        <div class="col">
          <form [formGroup]='guardian'>
            <br>
             <input placeholder="Upload" formControlName="gdoc1" type='file' required name="gdoc1" (change)="onFileChanged($event)" >
           <br>
           <br>
           <input placeholder="Upload" formControlName="gdoc2" type='file' required name="gdoc2" (change)="onFileChanged($event)" >
          </form>
        </div>
      </div>
      <br>
      <p class="h5">Student</p>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Id Proof</mat-label>
            <select matNativeControl [(ngModel)]="selectedStudentIdProof" [ngModelOptions]="{standalone: true}" name="verifications">

              <option *ngFor="let verification of verifications" [value]="verification">
                {{verification}}
              </option>
            </select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Address Proof</mat-label>
            <select matNativeControl [(ngModel)]="selectedStudentAddressProof" [ngModelOptions]="{standalone: true}" name="verifications">

              <option *ngFor="let verification of verifications" [value]="verification">
                {{verification}}
              </option>
            </select>
          </mat-form-field>
        </div>

        <div class="col">
          <form [formGroup]='student'>
            <br>
             <input placeholder="Upload" formControlName="sdoc1" type='file' required name="sdoc1" (change)="onFileChanged($event)" >
           <br>
           <br>
           <input placeholder="Upload" formControlName="sdoc2" type='file' required name="sdoc2" (change)="onFileChanged($event)" >
          </form>
        </div>
      </div>
      </mat-card-content>
</mat-card>

<br>

<mat-card>
  <p class="h3">Fee Structure</p>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <form [formGroup]="r4c1">
          <mat-form-field>
            <input matInput placeholder="Tution Fee (Per Term)" formControlName="tution_fee" required>
          </mat-form-field>
        </form>
      </div>

      <div class="col">
        <form [formGroup]="r4c2">
          <mat-form-field>
            <input matInput placeholder="Hostel Fee" formControlName="hostel_fee" required>
          </mat-form-field>
        </form>
      </div>

      <div class="col">
        <form [formGroup]="r4c3">
          <mat-form-field>
            <input matInput placeholder="Caution Deposit" formControlName="caution_deposit" required>
          </mat-form-field>
        </form>
      </div>

      <div class="col">
        <form [formGroup]="r4c4">
          <mat-form-field>
            <input matInput placeholder="Concession" formControlName="consession" required>
          </mat-form-field>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <div class="row">
    <div class="col">
      <a class="but" (click)='save()'>Save</a>
    </div>
  </div>
</mat-card>
