<div class="row">
  <div class="col">
    <p class="display-4">Examination History</p>
    <hr>
    <mat-card>
      <mat-card-title>Search</mat-card-title>
      <mat-card-content>
        <form [formGroup]='r1c1'>
          <mat-form-field>
           <input matInput placeholder="Examination Code" formControlName="exam_code" required >
         </mat-form-field>
        </form>
       <div>
         <a class="but" (click)='view()'>View</a>
       </div>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Examinations</mat-card-title>
      <mat-divider></mat-divider>
      <br>
      <table>
      <tr style="color: white; background-color:#536DFE; font-size:20px;">
        <th>Examination Code</th>
        <th>Term</th>
        <th>From-To</th>
        <th>Classes</th>
        <th>Timings</th>
        <th>Actions</th>
      </tr>
      <br>

      <!-- <ng-container *ngFor="let key of keys">
        <tr>
          <td>{{data[key].admission_no}}</td>
          <td>{{data[key].fName}} {{data[key].lName}}</td>
          <td>{{data[key].dob | date}}</td>
          <td>{{data[key].class}} ({{data[key].section}})</td>
          <td>{{data[key].roll_no}}</td>
          <td>{{data[key].father_name}}</td>
          <td>{{data[key].mother_name}}</td>
          <td>{{data[key].guardian_name}}</td>
          <td>{{data[key].type}}</td>
          <th><div style="padding:4px"><a class="but">Edit</a>&nbsp;<a class="but" (click)='view(key)'>Info</a>&nbsp;<a class="but" (click)='delete()'>Remove</a></div></th>
        </tr>
      </ng-container> -->
      </table>
    </mat-card>
  </div>
</div>
