<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Admission
            </mat-panel-title>
          </mat-expansion-panel-header>
        <a mat-button style="text-align: left;" routerLink="/add_student">Add Student </a><br>
        <a mat-button style="text-align: left;" routerLink="/view_student">View</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fee Management
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-button style="text-align: left;">View Details </a><br>
          <a mat-button style="text-align: left;">Pay Fees</a><br>
          <a mat-button style="text-align: left;">View Fees Due</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Academics
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-button style="text-align: left;">Add Course </a><br>
          <a mat-button style="text-align: left;">Add Class</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Front Office
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Examinations
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-button style="text-align: left;">Create Exam</a><br>
          <a mat-button style="text-align: left;">View Exam Shedules</a><br>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Students
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-button style="text-align: left;">Add Student </a><br>
          <a mat-button style="text-align: left;">View Student</a><br>
          <a mat-button style="text-align: left;">Generate Report Card</a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Hostel Inventory
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-button style="text-align: left;">Add Student </a><br>
          <a mat-button style="text-align: left;">View Deposits</a><br>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
